
<div class=slide>

  <div class=background></div>

  <div class=content>

    <h4><%= question %></h4>
      
    <div class=result></div>

    <div class=answers>
      <% _(answers).each(function(answer) { %>
        <div class=answer>

          <%= answer %>

        </div>

      <% }) %>
    </div>

  </div>

</div>


