
<div class=slide>

  <div class=background></div>

  <div class=content>
    <h4><%= question %></h4>

    <% _(answers).each(function(answer) { %>
      <div class=answer>

        <%= answer %>

      </div>

    <% }) %>

  </div>

</div>


