article * {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body,div,html {
    margin: 0;
    padding: 0
}

html {
    width: 100%;
    height: 100%
}

body,article.asset {
    /* background: url(http://www.gannett-cdn.com/static/images/patterns/noise_f6f6f6.png) top left #f6f6f6; */
    bottom: 0;
    font-family: "Futura Today Normal", Arial,sans-serif;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.group:after,.single .results-panel .social-buttons:after,.multi-photo .question-buttons:after,.large-image .question-buttons:after {
    content: "";
    display: table;
    clear: both
}

h1,h2,h3,h4,h5,h6 {
    margin: 0
}

a { /* SK */
    color: #0af;
    text-decoration: none;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@font-face {
    font-family: 'Futura Today Light';
    src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_light.eot") format("eot");
    src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_light.woff") format("woff"),url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_light.ttf") format("truetype"),url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_light.svg") format("svg");
    font-weight: 100
}

@font-face {
    font-family: 'Futura Today Normal';
    src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.eot") format("eot");
    src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.woff") format("woff"),url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.ttf") format("truetype");
    font-weight: 300
}

@font-face {
    font-family: 'Futura Today Demibold';
    src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_demibold.eot") format("eot");
    src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_demibold.woff") format("woff"),url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_demibold.ttf") format("truetype");
    font-weight: 500
}

@font-face {
    font-family: 'Futura Today Bold';
    src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_bold.eot") format("eot");
    src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_bold.woff") format("woff"),url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_bold.ttf") format("truetype");
    font-weight: 700
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Futura Today Bold", Arial,sans-serif;
    margin: 0;
    padding: 0
}

body {
    color: white;
    font-size: 80%;
    font-weight: normal
}

@media (min-width: 500px) {
    body {
        font-size:100%
    }
}

.intro-panel .label {
    bottom: 0px;
    color: white;
    left: 10px;
    font-size: 1em;
    margin: 0;
    padding: 0;
    position: absolute;
    text-transform: uppercase
}

.intro-panel .label h3 {
    font-family: "Futura Today Light", Arial,sans-serif;
    font-size: 3.5em
}

.single .intro-panel .label {
    background-color: rgba(50,50,50,0.8);
    border-radius: 50%;
    height: 300px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px
}

.single .intro-panel .label .label-inner-wrap {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.single .intro-panel .label h3 {
    font-size: 3em;
    line-height: 1em
}

@media (max-width: 414px) {
    .single .intro-panel .label {
        height:250px;
        width: 250px
    }
}

.single .intro-panel .label p {
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1em;
    max-width: 80%;
    margin: 0 auto
}

@media (max-width: 414px) {
    .single .intro-panel .label p {
        font-size:0.8rem
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.preloader,.preloader-mobile {
    background: black;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 501
}

.preloader .loader-img,.preloader-mobile .loader-img {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    display: block;
    height: 50px;
    width: 50px
}

.loader-img-wrap {
    display: block;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px
}

.loader-logo {
    display: block;
    left: 50%;
    max-width: 100%;
    position: absolute;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px
}

.wrap.mobile-wrap {
    background: white;
    bottom: auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    height: auto;
    margin: 0 auto;
    max-width: 800px;
    min-height: 100%;
    min-width: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%
}

.wrap.mobile-wrap #search_cont {
    color: #231F20;
    display: block;
    padding: 0;
    width: 100%
}

.wrap.mobile-wrap #company_search_box {
    background-color: transparent;
    border: solid 2px #8D8F91;
    color: #231F20;
    font-size: 1.2em
}

.wrap.mobile-wrap .form-control:-moz-placeholder {
    color: #6D6E70
}

.wrap.mobile-wrap .form-control::-moz-placeholder {
    color: #6D6E70
}

.wrap.mobile-wrap .form-control:-ms-input-placeholder {
    color: #6D6E70
}

.wrap.mobile-wrap .form-control::-webkit-input-placeholder {
    color: #6D6E70
}

.wrap.mobile-wrap .mobile-head {
    float: left;
    font-size: 0.90em;
    margin: .5em;
    padding-top: 7px
}

.wrap.mobile-wrap .data-popover {
    left: 5%;
    width: 90%
}

.wrap.mobile-wrap #panel-head {
    display: block
}

.wrap.mobile-wrap .panel-data {
    padding: 0 5%;
    margin-bottom: 1em
}

.wrap.mobile-wrap .data-column {
    width: 33.33333%
}

.wrap.mobile-wrap #data-column4 {
    display: block;
    float: none;
    height: 8em;
    margin: 0 auto
}

.wrap.mobile-wrap #data-column4 .compare-tag {
    margin-top: 1em;
    position: static
}

.wrap.mobile-wrap .metal-miles {
    margin-bottom: 6px
}

.wrap.mobile-wrap a {
    text-decoration: none
}

.wrap.mobile-wrap .mobile-back-bar {
    background: #1b88fa;
    color: white;
    cursor: pointer;
    font-family: "Futura Today Light", Arial,sans-serif;
    font-size: 1.2em;
    padding: .5em 0;
    text-align: right;
    text-transform: uppercase
}

.wrap.mobile-wrap .mobile-back-arrow {
    margin: 0 .5em;
    width: 0.5em
}

.wrap.mobile-wrap .data-decription,.wrap.mobile-wrap .compare-tag {
    font-size: 1em;
    position: static
}

@media (max-width: 800px) {
    .wrap.mobile-wrap .data-decription,.wrap.mobile-wrap .compare-tag {
        font-size:0.8em
    }
}

@media (min-width: 600px) {
    .wrap.mobile-wrap .chart-percent-text {
        font-size:2em
    }
}

@media (min-width: 1000px) {
    .wrap.mobile-wrap .chart-percent-text {
        font-size:2.5em
    }
}

.preloader-mobile {
    background-color: white !important
}

.mobile-company-info-box {
    background-color: rgba(0,0,0,0.3);
    border-radius: 2em;
    color: white;
    font-family: "Futura Today Light", Arial,sans-serif;
    margin: 1em auto;
    max-width: 90%;
    padding: 4em;
    text-align: center;
    text-transform: uppercase;
    width: 20em;
    z-index: 10
}

.mobile-footer {
    background: #1b88fa;
    color: white;
    font-family: Arial,sans-serif;
    font-size: 8pt;
    padding: 2em 1em
}

.mobile-footer a.mobile-footer-link {
    color: white;
    display: block;
    font-family: "Futura Today DemiBold", Arial,sans-serif;
    font-size: 2em;
    margin-bottom: 0.5em;
    text-decoration: none;
    text-transform: uppercase
}

.mobile-footer strong {
    font-weight: 700
}

html.mobile {
    height: auto;
    overflow: auto
}

a.article-button {
    bottom: 22px;
    font-size: 0.8em;
    left: 50%;
    opacity: 1;
    position: absolute;
    text-decoration: none;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition: opacity 300ms ease;
    z-index: 500
}

.info-button {
    bottom: 20px;
    cursor: pointer;
    height: 50px;
    position: absolute;
    left: 10px;
    width: 50px;
    z-index: 500
}

.info-button img {
    height: 40px;
    width: 40px
}

.nav-header,.share-title {
    color: #6D6E70;
    margin: 1em 0;
    text-transform: uppercase
}

.share-button {
    bottom: 20px;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 10px;
    width: 50px;
    z-index: 500
}

.share-button img {
    height: 40px;
    width: 40px
}

.share-inner-wrap {
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 90%
}

.share-page,.info-page {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    bottom: 0;
    color: #231F20;
    min-width: 170px;
    overflow: scroll;
    padding: 0 2em;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease;
    -webkit-transform: translate(0, -150%);
    -ms-transform: translate(0, -150%);
    transform: translate(0, -150%);
    width: 100%;
    z-index: 5000
}

.share-page.show,.show.info-page {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.social-link {
    display: block
}

.social-icon {
    border: none;
    margin: 0 auto;
    width: 4em
}

.share-copy,.info-text {
    font-family: "Futura Today Light", Arial,sans-serif;
    max-width: 30em;
    margin: 2em auto 1em auto
}

.share-close-button,.info-close-button {
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: .5rem
}

.close-icon {
    heigh: 2em;
    width: 2em
}

.buttom-buttons {
    height: 60px;
    margin-top: 10px;
    position: relative
}

html,body,.transition-wrap,article.padded-container,.non-article-content {
    height: 100% !important
}

footer {
    display: none !important
}

article {
    height: 100% !important;
    padding: 0 !important;
    width: 100%
}

div.non-article-content {
    padding: 0
}

#overlay {
    height: calc(100% - 40px)
}

section.contents {
    height: calc(100% - 50px)
}

.done {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%)
}

.upcoming {
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%)
}

.active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.intro,.quiz,.quiz-intro,.question-panel,.question-image,.results-panel,.results {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease;
    width: 100%
}

.intro {
    height: 100%
}

.quiz-container {
    min-height: 100%;
    margin: 0 auto;
    max-width: 540px;
    overflow: hidden;
    position: relative;
    z-index: 3
}

.quiz-intro {
    z-index: 3
}

.question-content {
    overflow: auto !important;
    position: relative
}

.single .intro-panel {
    cursor: default
}

.single .intro-panel .background {
    height: 100%
}

.intro-panel {
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%
}

.intro-panel .background {
    position: absolute;
    width: 100%
}

.intro-panel .background img {
    width: 100%
}

.single-image {
    position: absolute;
    top: 0;
    z-index: 1
}

.intro-image,.question-image,.single-image {
    background-color: rgb(0,0,0);
    height: 100%;
    z-index: -1
}

.intro-image img.wide,.question-image img.wide,.single-image img.wide {
    min-height: 100%;
    /* max-height: 1333px; */
    width: 100%
}

.intro-image img.tall,.question-image img.tall,.single-image img.tall {
    /*
    height: 100%;
    max-width: 100%;
    margin-left: -13%;
    */
    max-height: 1333px;
    width: 100%;
}

.single .intro-panel img.wide {
    min-height: 100%;
    width: 100%
}

.single .intro-panel img.tall {
    height: 100%;
    min-width: 100%
}

.quiz-question-count {
    font-family: "Futura Today Light", Arial,sans-serif;
    font-size: 1.2rem;
    left: 1.5rem;
    position: absolute;
    top: 1.5rem;
    z-index: 2
}

.intro-label {
    border-radius: 50%;
    height: 300px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px
}

.intro-label h2 {
    font-family: "Futura Today Light", Arial,sans-serif;
    font-size: 5rem;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.results-text {
    border-radius: 50%;
    height: 300px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
}

.quiz-legal {
    bottom: 5px;
    color: rgb(150,150,150);
    font-size: 0.6em;
    left: 19%;
    position: absolute;
}

@media (max-width: 414px) {
    .results-text,.intro-label {
        height:250px;
        top: 40%;
        width: 250px
    }

    .intro-label h2 {
        font-size: 4em
    }
    
    .quiz-legal {
        left: 9%;
    }
}

.results-text-inner-wrap {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%
}

.results-text-inner-wrap p {
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 1.2rem
}

@media (max-width: 414px) {
    .results-text-inner-wrap p {
        font-size:0.8rem
    }
}

.result-header {
    font-family: "Futura Today DemiBold", Arial, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase
}

@media (max-width: 414px) {
    .result-header {
        font-size:1.1rem
    }
}

.next-button,.intro-button,.quiz-share-button {
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    height: 100px;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 70%;
    width: 100px
}

.single .next-button,.single .quiz-share-button,.single .intro-button {
    display: none
}

.iFrame .next-button,.iFrame .intro-button {
    top: 20%
}

.next-button,.quiz-share-button {
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%)
}

.intro-button {
    -webkit-transform: translate(-150%, -50%);
    -ms-transform: translate(-150%, -50%);
    transform: translate(-150%, -50%)
}

.results-panel.active .next-button,.results-panel.active .intro-button,.results-panel.active .quiz-share-button {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.final-results-panel {
    position: relative
}

.next-text {
    font-family: "Futura Today DemiBold", Arial,sans-serif;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%
}

.intro-background-overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.finished .intro-background-overlay {
    opacity: 1
}

.life .intro-label {
    background-color: rgba(138,0,173,0.5)
}

.news .intro-label {
    background-color: rgba(27,136,250,0.5)
}

.tech .intro-label {
    background-color: rgba(247,79,27,0.5)
}

.money .intro-label {
/*    background-color: rgba(29,156,52,0.5)
*/
    background-color: rgba(38,107,182, 0.5)
}

.sports .intro-label {
    background-color: rgba(222,6,21,0.5)
}

.life .results-text,.life.next-button {
    background-color: rgba(138,0,173,0.8)
}

.news .results-text,.news.next-button {
    background-color: rgba(27,136,250,0.8)
}

.tech .results-text,.tech.next-button {
    background-color: rgba(247,79,27,0.8)
}

.money .results-text,.money.next-button {
    /*background-color: rgba(29,156,52,0.8)*/
    background-color: rgba(38,107,182, 0.5)
}

.sports .results-text,.sports.next-button {
    background-color: rgba(222,6,21,0.8)
}

.all .results-text,.life.next-button {
/*    background-color: rgba(50,50,50,0.8)
*/}

.answer,.next-button,.quiz-share-button {
    cursor: pointer
}

.play-button {
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    cursor: pointer;
    height: 100px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px
}

.play-button h3 {
    font-family: "Futura Today Light", Arial, sans-serif;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%
}

.results-panel .social-buttons {
    display: none
}

.single .results-panel .social-buttons {
    display: block;
    position: absolute;
    top: 74%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 300px
}

.single .results-panel .social-buttons .social-link {
    display: inline-block;
    float: left;
    width: 80px;
    border-radius: 50%;
    background-color: rgba(50,50,50,0.5);
    height: 80px;
    margin: 0 10px;
    position: relative
}

.single .results-panel .social-buttons .social-link .social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.results-panel .credit {
    bottom: 10px;
    font-size: 0.8em;
    left: 10px;
    position: absolute;
    text-align: center;
    width: 100%
}

.question-text {
    font-family: "Futura Today Light", Arial,sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    padding: 2rem .5rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5)
}

.question-content {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease;
    width: 100%
}

.multi-text .answer {
    margin: 0.5em auto;
    padding: 1em 0;
    position: relative;
    text-align: center;
    transition: background 500ms ease;
    width: 90%
}

.multi-text .question-response {
    margin-bottom: 1rem
}

.life.true-false .answer,.life.multi-text .answer {
    background-color: rgba(138,0,173,0.5)
}

.life.true-false .answer.selected,.life.multi-text .answer.selected {
    background-color: #8a00ad
}

.life .quiz-share-button {
    background-color: rgba(138,0,173,0.3)
}

.life .question-text {
    border-left: solid 8px #8a00ad
}

.life.multi-photo .selected .image-wrap,.life.large-image .selected .image-wrap {
    border: solid 8px #8a00ad
}

.life .answer-response-image {
    border: solid 5px #8a00ad;
    fill: #8a00ad
}

.news.true-false .answer,.news.multi-text .answer {
    background-color: rgba(27,136,250,0.5)
}

.news.true-false .answer.selected,.news.multi-text .answer.selected {
    background-color: #1b88fa
}

.news .quiz-share-button {
    background-color: rgba(27,136,250,0.3)
}

.news .question-text {
    border-left: solid 8px #1b88fa
}

.news.multi-photo .selected .image-wrap,.news.large-image .selected .image-wrap {
    border: solid 8px #1b88fa
}

.news .answer-response-image {
    border: solid 5px #1b88fa;
    fill: #1b88fa
}

.sports.true-false .answer,.sports.multi-text .answer {
    background-color: rgba(222,6,21,0.5)
}

.sports.true-false .answer.selected,.sports.multi-text .answer.selected {
    background-color: #de0615
}

.sports .quiz-share-button {
    background-color: rgba(222,6,21,0.3)
}

.sports .question-text {
    border-left: solid 8px #de0615
}

.sports.multi-photo .selected .image-wrap,.sports.large-image .selected .image-wrap {
    border: solid 8px #de0615
}

.sports .answer-response-image {
    border: solid 5px #de0615;
    fill: #de0615
}

.tech.true-false .answer,.tech.multi-text .answer {
    background-color: rgba(247,79,27,0.5)
}

.tech.true-false .answer.selected,.tech.multi-text .answer.selected {
    background-color: #f74f1b
}

.tech .quiz-share-button {
    background-color: rgba(247,79,27,0.3)
}

.tech .question-text {
    border-left: solid 8px #f74f1b
}

.tech.multi-photo .selected .image-wrap,.tech.large-image .selected .image-wrap {
    border: solid 8px #f74f1b
}

.tech .answer-response-image {
    border: solid 5px #f74f1b;
    fill: #f74f1b
}

.money.true-false .answer,.money.multi-text .answer {
/*    background-color: rgba(29,156,52,0.5)
*/
        background-color: rgba(38,107,182, 0.5);
}

.money.true-false .answer.selected,.money.multi-text .answer.selected {
        background-color: rgba(38,107,182, 0.5);

}

.money .quiz-share-button {
    background-color: rgba(38,107,182, 0.5)
}

.money .question-text {
    border-left: solid 8px rgb(38,107,182)
}

.money.multi-photo .selected .image-wrap,.money.large-image .selected .image-wrap {
    border: solid 8px rgb(38,107,182)
}

.money .answer-response-image {
    border: solid 5px rgb(38,107,182);
    fill: rgb(38,107,182)
}

.weather.true-false .answer,.weather.multi-text .answer {
    background-color: rgba(251,193,36,0.5)
}

.weather.true-false .answer.selected,.weather.multi-text .answer.selected {
    background-color: #fbc124
}

.weather .quiz-share-button {
    background-color: rgba(251,193,36,0.3)
}

.weather .question-text {
    border-left: solid 8px #fbc124
}

.weather.multi-photo .selected .image-wrap,.weather.large-image .selected .image-wrap {
    border: solid 8px #fbc124
}

.weather .answer-response-image {
    border: solid 5px #fbc124;
    fill: #fbc124
}

.travel.true-false .answer,.travel.multi-text .answer {
    background-color: rgba(34,182,179,0.5)
}

.travel.true-false .answer.selected,.travel.multi-text .answer.selected {
    background-color: #22b6b3
}

.travel .quiz-share-button {
    background-color: rgba(34,182,179,0.3)
}

.travel .question-text {
    border-left: solid 8px #22b6b3
}

.travel.multi-photo .selected .image-wrap,.travel.large-image .selected .image-wrap {
    border: solid 8px #22b6b3
}

.travel .answer-response-image {
    border: solid 5px #22b6b3;
    fill: #22b6b3
}

.true-false .answer {
    border-radius: 50%;
    height: 100px;
    margin: 0.5em auto;
    padding: 1em 0;
    position: relative;
    text-align: center;
    transition: background 500ms ease;
    width: 100px
}

.true-false .answer-text {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.answer-text {
    font-family: "Futura Today Light", Arial,sans-serif;
    font-size: 1.2em
}

.multi-photo .question-buttons {
    margin: 0 auto;
    width: 100%
}

.multi-photo .outer-image-wrap {
    position: relative
}

.multi-photo .image-wrap {
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    width: 100%
}

@media (max-width: 400px) {
    .multi-photo .image-wrap {
        width:70%
    }
}

.multi-photo .answer {
    border: solid 0px white;
    float: left;
    margin: 0 4% 1em 4%;
    position: relative;
    transition: border 250ms ease;
    width: 42%
}

.multi-photo .answer img {
    display: block;
    width: 100%
}

.multi-photo .answer .answer-text {
    display: block;
    margin-top: 0.5em;
    text-align: center;
    width: 100%
}

.multi-photo .answer:nth-child(3n) {
    clear: left
}

.large-image .question-buttons {
    margin: 0 auto;
    margin-top: 2em;
    width: 90%
}

.large-image .answer {
    float: left;
    position: relative;
    width: 48%
}

.large-image .answer:nth-child(1) {
    margin-right: 2%
}

.large-image .answer img {
    display: block;
    width: 100%
}

.large-image .answer .answer-text {
    display: inline-block;
    text-align: center;
    width: 100%
}

.large-image .image-wrap {
    border: solid 8px rgba(255,255,255,0);
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    transition: border 250ms ease
}

.large-image .answer-response-image {
    right: -24px;
    top: -24px;
    z-index: 20
}

@media (max-width: 400px) {
    .large-image .answer-response-image {
        right:-16px;
        top: -16px
    }
}

.img-overlay {
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    transition: all 500ms;
    width: 100%;
    z-index: 0
}

.question-image .large-opacity {
    opacity: 0.3
}

.question-image .medium-opacity {
    opacity: 0.2
}

.question-image .small-opacity {
    opacity: 0.1
}

.question-response {
    font-family: "Futura Today Bold", Arial,sans-serif;
    height: 1.5rem;
    font-size: 1.5rem;
    opacity: 0;
    text-align: center;
    text-transform: uppercase
}

.question-response.show {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms
}

.selected .answer-response-image,.correct .answer-response-image,.incorrect .answer-response-image {
    opacity: 1
}

.answer-response-image {
    border-radius: 50%;
    height: 3em;
    opacity: 0;
    position: absolute;
    transition: opacity 250ms ease;
    transition-delay: 250ms;
    width: 3em
}

.answer-response-image.correct {
    background-color: white
}

.answer-response-image.wrong {
    background-color: black
}

.answer-response-image svg {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%
}

@media (max-width: 400px) {
    .answer-response-image {
        height:2.5em;
        width: 2.5em
    }
}

.multi-photo .answer-response-image {
    right: 0;
    top: 40%;
    -webkit-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    transform: translate(0%, 100%)
}

@media (max-width: 400px) {
    .multi-photo .answer-response-image {
        right:5%;
        top: 20%
    }
}

.multi-text .answer-response-image {
    left: 0;
    top: 50%;
    -webkit-transform: translate(-25%, -50%);
    -ms-transform: translate(-25%, -50%);
    transform: translate(-25%, -50%)
}

.true-false .answer-response-image {
    right: -10px;
    top: 0px
}

.question-progress-bar {
    background-color: #231F20;
    height: 8px;
    opacity: 0;
    position: relative;
    transition: opacity 250ms ease;
    transition-delay: 1.5s;
    width: 100%;
    z-index: 2
}

.quiz.active .question-progress-bar {
    opacity: 1
}

.question-progress-inner {
    background-color: #8D8F91;
    height: 100%;
    transition: all 2000ms ease;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    width: 100%
}

.question-progress-inner.news {
    background-color: #1b88fa
}

.question-progress-inner.sports {
    background-color: #de0615
}

.question-progress-inner.life {
    background-color: #8a00ad
}

.question-progress-inner.money {
    background-color: rgb(38,107,182)
}

.question-progress-inner.tech {
    background-color: #f74f1b
}

.question-progress-inner.weather {
    background-color: #fbc124
}

.question-progress-inner.travel {
    background-color: #22b6b3
}

.blur {
    transition: all 250ms ease;
    -webkit-filter: blur(6px);
    filter: blur(6px)
}

.medium-blur {
    -webkit-filter: blur(5px);
    filter: blur(5px)
}

.small-blur {
    -webkit-filter: blur(3px);
    filter: blur(3px)
}

.blur-filter {
    position: absolute
}

.final-results-panel.news {
    background-color: #1b88fa
}

.final-results-panel.life {
    background-color: #8a00ad
}

.final-results-panel.money {
    background-color: rgb(38,107,182)
}

.final-results-panel.tech {
    background-color: #f74f1b
}

.final-results-panel.sports {
    background-color: #de0615
}

.landscape-warning {
    background-color: rgba(255,255,255,0.8);
    bottom: 0;
    color: #6D6E70;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%
}

.landscape-warning img {
    display: block;
    margin: 0 auto 1em auto;
    width: 3em
}

.warning-content {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.landscape .landscape-warning {
    display: block
}
